
$breakpoint-tablet: 768px;

@import "_common.mixins";
body {
    background: $primary-foreground-color !important;
    color: $primary-foreground-color !important;
    font-family: serif;
}


.mainContent {
    padding: 10px;
    background: lighten($primary-background-color, 5%);
    min-height: 100vh;

    @media (min-width: $breakpoint-tablet) {
        margin: 0px 100px;
    }
}

input[type=text] {
    width: 100%;
}

.navigation-bar-container {
    background: $primary-foreground-color;
    text-align: left;

    @media (min-width: $breakpoint-tablet) {
        margin: 10px 100px 0px 100px;
    }
    margin-top: 20px;

    .navigation-bar-item {

        min-width: 75px;
        vertical-align: bottom;
        display: inline-block;
        padding: 10px;
        color: lighten($primary-background-color,20%) !important;
        text-decoration: none !important;
        cursor: pointer;
        &:hover, &.active {
    background: lighten($primary-background-color, 5%);
            color: $primary-foreground-color !important;
        }

        &.main-page-heading {
            font-size: 1.3em;
        }
        
        .mobile-heading{
            display: none!important;
        }

    }
        
        @media (max-width: $breakpoint-tablet) {
            .navigation-bar-item {
                /*display: none;*/
                width: 100%;
                border: 2px darken($primary-background-color, 5%) solid;
                &.main-page-heading {
                    display: inline-block;
                    width: 100%;
                }
                .shown{
                    display:inline-block;
                }
            }
        }
}

.footer {
    color: $primary-background-color;
}

.imageTopLevel {
    margin: 10px;
    display: inline-block;
    padding: 25px 10px 50px 10px;
    background-color: white;
    min-width: 200px;
    max-height: 300px;
    vertical-align: top;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    &:hover{
        
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    .back {
        min-width: 150px;
        max-width: 100%;
        background-color: #222;
    }

    img {
        max-width: 100%;
        max-height: 240px;
    }
}

.imageGallery {
    text-align: center;
    background: lighten($primary-background-color, 5%);
    padding: 10px;
}

.dog-images {
    text-align: center;
    width: 100%;
    display: inline-block;
    max-width: 100%;
    overflow-x: hidden;
    white-space: nowrap;
    >div {
        position: relative;


        >div {
            display: inline-block;
            &.scrollable-parent{
                width:100%;
                position:relative;
                overflow:hidden;
            }
            img {
                height: 200px;
                max-width: 100%;
                min-width: 200px;
                margin-right: 10px;

            }
            
            &.nav {
                position:absolute;
                top: 80px;
                padding: 20px;
                z-index:1;
                background: $primary-foreground-color;
                color: $primary-background-color;
                font-size: 20px;
                cursor:pointer;
                &:hover, &.active {
                    background: $primary-background-color;
                    border: 1px solid $primary-foreground-color;
                    color: $primary-foreground-color !important;
                    font-size: 20px;
                }
                &.nav-left {
                    left: 0px;
                }

                &.nav-right {
                    right: 0px;
                }
            }
        }
    }
}

.dog-info-one {
    background: lighten($primary-background-color, 15%);


    .dog-parents {
        width: 100%;
        display: inline-block;

        > div {
            width: 50%;
            display: inline-block;
        }
    }
}

.page-content {
    margin-bottom: 10px;
}

.layout-table {
    background: lighten($primary-background-color, 15%);
    margin-bottom: 20px;
    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    &:hover{
        
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    > div {
        padding: 20px;
    }

    .dog-name {
        background: darken($primary-background-color, 55%);
        color: $primary-background-color;


        font-size: 18px;
    }
    .dog-name, .heading{
        
        a.command {
            color: $primary-background-color !important;
            text-decoration: none !important;
            float: right;
            margin-left: 5px;
            cursor: pointer;
        }

    }

    .dog-nickname {
        font-size: 16px;
    }

    .heading {
        background: darken($primary-background-color, 15%);
        font-weight: bold;
    }
}
