body {
  background: #000d2d !important;
  color: #000d2d !important;
  font-family: serif; }

.mainContent {
  padding: 10px;
  background: #ccdaff;
  min-height: 100vh; }
  @media (min-width: 768px) {
    .mainContent {
      margin: 0px 100px; } }

input[type=text] {
  width: 100%; }

.navigation-bar-container {
  background: #000d2d;
  text-align: left;
  margin-top: 20px; }
  @media (min-width: 768px) {
    .navigation-bar-container {
      margin: 10px 100px 0px 100px; } }
  .navigation-bar-container .main-page-heading {
    font-size: 1.3em; }
  .navigation-bar-container .collapsed {
    display: none; }
  .navigation-bar-container .expanded {
    display: none; }
  .navigation-bar-container .navigation-bar-item, .navigation-bar-container .main-page-heading {
    min-width: 75px;
    vertical-align: bottom;
    display: inline-block;
    padding: 10px;
    color: white !important;
    text-decoration: none !important;
    cursor: pointer; }
    .navigation-bar-container .navigation-bar-item:hover, .navigation-bar-container .navigation-bar-item.active, .navigation-bar-container .main-page-heading:hover, .navigation-bar-container .main-page-heading.active {
      background: #ccdaff;
      color: #000d2d !important; }
    .navigation-bar-container .navigation-bar-item .mobile-heading, .navigation-bar-container .main-page-heading .mobile-heading {
      display: none !important; }
  @media (max-width: 768px) {
    .navigation-bar-container .navigation-items .collapsed {
      display: inline-block; }
    .navigation-bar-container .navigation-items .expanded {
      display: none; }
    .navigation-bar-container .navigation-items .main-page-heading {
      width: 100%; }
    .navigation-bar-container .navigation-items .navigation-bar-item {
      display: none;
      width: 100%;
      border: 1px #99b6ff solid; }
    .navigation-bar-container .navigation-items.shown .collapsed {
      display: none; }
    .navigation-bar-container .navigation-items.shown .expanded {
      display: inline-block; }
    .navigation-bar-container .navigation-items.shown .navigation-bar-item {
      display: inline-block; } }

.footer {
  color: #b2c8ff; }

.imageTopLevel {
  margin: 10px;
  display: inline-block;
  padding: 25px 10px 50px 10px;
  background-color: white;
  min-width: 200px;
  max-height: 300px;
  vertical-align: top;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s; }
  .imageTopLevel:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); }
  .imageTopLevel .back {
    min-width: 150px;
    max-width: 100%;
    background-color: #222; }
  .imageTopLevel img {
    max-width: 100%;
    max-height: 240px; }

.imageGallery {
  text-align: center;
  background: #ccdaff;
  padding: 10px; }

.dog-images {
  text-align: center;
  width: 100%;
  display: inline-block;
  max-width: 100%;
  overflow-x: hidden;
  white-space: nowrap; }
  .dog-images > div {
    position: relative; }
    .dog-images > div > div {
      display: inline-block; }
      .dog-images > div > div.scrollable-parent {
        width: 100%;
        position: relative;
        overflow: hidden; }
      .dog-images > div > div img {
        height: 200px;
        max-width: 100%;
        min-width: 200px;
        margin-right: 10px; }
      .dog-images > div > div.nav {
        position: absolute;
        top: 80px;
        padding: 20px;
        z-index: 1;
        background: #000d2d;
        color: #b2c8ff;
        font-size: 20px;
        cursor: pointer; }
        .dog-images > div > div.nav:hover, .dog-images > div > div.nav.active {
          background: #b2c8ff;
          border: 1px solid #000d2d;
          color: #000d2d !important;
          font-size: 20px; }
        .dog-images > div > div.nav.nav-left {
          left: 0px; }
        .dog-images > div > div.nav.nav-right {
          right: 0px; }

.dog-info-one {
  background: white; }
  .dog-info-one .dog-parents {
    width: 100%;
    display: inline-block; }
    .dog-info-one .dog-parents > div {
      width: 50%;
      display: inline-block; }

.page-content {
  margin-bottom: 10px; }

.layout-table {
  background: white;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s; }
  .layout-table:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); }
  .layout-table > div {
    padding: 20px; }
  .layout-table .dog-name {
    background: #002c99;
    color: #b2c8ff;
    font-size: 18px; }
  .layout-table .dog-name a.command, .layout-table .heading a.command {
    color: #b2c8ff !important;
    text-decoration: none !important;
    float: right;
    margin-left: 5px;
    cursor: pointer; }
  .layout-table .dog-nickname {
    font-size: 16px; }
  .layout-table .heading {
    background: #6691ff;
    font-weight: bold; }
